blockquote p {
  font-size: 1.2rem;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

* {
  box-sizing: border-box;
}

h2 {
  margin-left: 0.2rem
}

#chateau {
  width: 250px;
}

label {
  max-width: 250px;
}

#imagediv {
  /* i succeeded */
  float: left;
}